<!DOCTYPE html>
<html th:replace="~{layout/app :: layout(${isAddMode}?'加入者新規追加':'加入者編集', ~{::content}, 'member')}"
  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="content">
  <!--/* 加入者情報編集画面 */-->
  <div th:if="!${#strings.isEmpty(message)}" class="alert alert-success">
    <span th:text="${message}"></span>
  </div>
  <form th:action="${isAddMode}?@{/member/add}:@{/member/update}" th:object="${member}" method="POST">
    <input type="hidden" th:field="*{memberId}">
    <label for="mail">メールアドレス
      <input type="text" th:field="*{mail}" maxlength="255">
      <span class="error-message" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
    </label>
    <label for="name">氏名
      <input type="text" th:field="*{name}" maxlength="31">
      <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </label>
    <label for="address">住所
      <input type="text" th:field="*{address}">
      <span class="error-message" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
    </label>
    <label for="startDate">加入日
      <input type="date" th:field="*{startDate}">
      <span class="error-message" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
    </label>
    <label for="endDate">解約日
      <input type="date" th:field="*{endDate}">
      <span class="error-message" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
    </label>
    <label for="paymentMethod">決済方法
      <select th:field="*{paymentMethod}">
        <option value="1">クレジット</option>
        <option value="2">銀行振込</option>
      </select>
      <span class="error-message" th:if="${#fields.hasErrors('paymentMethod')}" th:errors="*{paymentMethod}"></span>
    </label>
    <div class="button-group-spread">
      <div class="button-group">
        <button type="submit">保存</button>
        <a role="button" class="secondary" th:href="@{/member/search}">キャンセル</a>
      </div>
      <div th:if="!${isAddMode}">
        <button class="contrast" id="delete" form="deleteForm">削除</a>
      </div>
    </div>
  </form>
  <form th:if="!${isAddMode}" id="deleteForm" th:object="${member}" th:action="@{/member/delete}" method="POST">
    <input type="hidden" th:field="*{memberId}">
  </form>
  <script th:inline="javascript">
    /** 削除ボタンがクリックされた時の制御 */
    // HTMLが読込まれたら実行する関数を登録
    document.addEventListener("DOMContentLoaded", (e) => {
      // idがdeleteのHTML要素(削除ボタン)を取得
      const deleteBtn = document.getElementById("delete");
      // 取得した要素がクリックされた時に実行される関数を登録。
      deleteBtn.addEventListener("click", (e) => {
        // 確認画面を表示
        const result = confirm("この情報を削除してもよろしいですか？");
        if (!result) {
          // もし、キャンセルが押されたら、クリックされた要素動作を取りやめる
          e.stopPropagation();
          e.preventDefault();
        }
      });
    });
  </script>
</div>

</html>